<article class="card">
  <a [routerLink]="['/character-details', character.id]" class="card__link">
    <figure>
      <img rel="preload" as="image" width="300" height="300" [src]="character.image" [alt]="character.name" />
    </figure>
  </a>
  <div class="card__details">
    <figure class="card__favorite">
      <img (click)="toggleFavorite()" rel="preload" as="image" width="30" height="30" src="/assets/imgs/{{getIcon()}}"
        [alt]="character.name" />
    </figure>
    <h3>{{character.name}}</h3>
    <ul class="card__list">
      <li>
        <label class="table__label">Status:</label>{{character.status}}
      </li>
      <li>
        <label class="table__label">Species:</label>{{character.species}}
      </li>
      <li>
        <label class="table__label">Gender:</label>{{character.gender}}
      </li>
    </ul>
  </div>
</article>
