section.character__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}
.button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  padding: 1rem;
  background-color: #1f1e1e;
  border: 1px solid #1f1e1e;
  cursor: pointer;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  &:hover {
    background-color: #8c43e6;
    border: 1px solid #fff;
    font-size: 2rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
}
