section.character__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}


.button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  padding: 1rem;
  background-color: #1f1e1e;
  border: 1px solid #1f1e1e;
  cursor: pointer;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;

  &:hover {
    background-color: #8c43e6;
    border: 1px solid #fff;
    font-size: 2rem;
  }
}

.notResults {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  color: #fff;
}
