<section class="about__page">
  <h1 class="title" [ngStyle]="{'text-align':'center'}"> Rick and Morty Graphql APP</h1><br>
  <h2 class="title" [ngStyle]="{'font-size':'2rem'}">Orlando Manuel Ospino Hernández</h2><br>
  <div class="about__container"><br>

    <p class="about__paragraph">
      Ingeniero De Sistemas, Especialista En Inteligencia Artificial Y Con 2 Años De Experiencia En Desarrollo Web Autodidacta.
      Manejo De
      Inventarios, Facturación, Tecnologías De La Información Y La Comunicación (TIC). Soy Una Persona Disciplinada, Objetiva Y
      Ética;
      Analítica Y De Resolución De Problemas.
      Además De Mi Formación Académica, Soy Un Amante A Las Nuevas Tecnologías; Con Grandes Proyectos A Finiquitar Enfocadas En
      Inteligencia Artificial Y Con Tecnologías Como Javascript, Angular, Nodejs Y Python.
      Todas Estas Capacidades Me Hacen Una Persona Capaz De Ejercer Cualquier Función Que Esté Dentro De Mi Campo O Perfil
      Profesional,
      Con La Mayor Idoneidad Y Responsabilidad.
    </p>
    <figure class="about__img">
      <img src="/assets/imgs/web_dev.svg" alt="Web Dev" class="about__picture" rel="preload" as="image">
    </figure>

  </div>

  <p class="about__copy">
    Desarrollado por: <a class="text-white" href="http://www.orlandoospino.com" target="_blank">Orlando
      Ospino H</a>
  </p>
</section>
