<section class="about__page">
  <h1 class="title">Rick and Morty GraphQL APP</h1>
  <div class="about__container">

    <p class="about__paragraph">
      Angular 11 + Rick and Morty GraphQL API.
      Laborum quasi repudiandae
      consequuntur! Nulla. Placeat, sunt laborum, nostrum praesentium odio quasi natus hic officia provident quis
      consectetur asperiores necessitatibus eum reiciendis.
    </p>
    <figure class="about__img">
      <img src="/assets/imgs/web_dev.svg" alt="Web dev" class="about__picture" rel="preload" as="image" width="406"
        height="306">
    </figure>
  </div>
  <p class="about__copy">
    Developed by <span class="text-white">DOMINICODE</span>
  </p>
</section>
